/* changes in the css file */
ul.navbar-nav{
    padding: 0;
    margin-top: 0;
    margin-left:25vw;
}

#content-sec3 {
    position: relative;
    max-width: 100%;
    height: auto;
    background-size: 100% auto;
    text-align: center;
}

.col-sm-8{
    padding: 0;
}
.col-sm-4{
    padding: 0;
}
.btn-sample {
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
}

.li4 .submit {
    display: block;
    width: 100%;
    padding: 7px 0;
    border: 0 none;
    color: #fff;
    background-color: #269ABC;

}

/*   small devices (portrait phones, 319px and up) */
@media (min-width: 319px) {
    .image1{
        width: 100%;
        height: auto;
        float: right;
        padding-left: 0;
    }
    .text-left{
        font-size: 3vw;
    }

    .image2{
        width: 100%;
        height: auto;
        float: left;
        padding-left: 0;
    }

    .d-md-block{
        line-height: 1.5;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav-link{
        font-size: 3vw;
        padding-left: 5px;
        padding-right: 5px;
    }
    #content-sec3 .title {
        margin-top:28vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 4vw;
        color: aliceblue;
    }

    #content-sec3 .title-sub-line {
        margin-top:3vw;
        margin-bottom: 3vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 2.5vw;
        color: aliceblue;
        text-align: left;
    }
    #blockquote1 {
        padding-bottom: 3vw;
    }
    #blockquote2 {
        padding-bottom: 3vw;
    }
    #blockquote3 {
        padding-bottom: 3vw;
    }
    .mb-0{
        font-size: 2.5vw;
    }
    .d-block{
        height: 50vw;
    }
    footer{
        font-size: 3vw;
    }
    .btn{
        font-size: 2.2vw;
    }
}

/*  small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .image1{
        width: 100%;
        height: auto;
        float: right;
        padding-left: 0;
    }
    .text-left{
        font-size: 1.5vw;
    }

    .image2{
        width: 100%;
        height: auto;
        float: left;
        padding-left: 0;
    }

    .d-md-block{
        line-height: 1rem;
        text-align: center;
        padding-top: 0;
        padding-bottom: 2vw;
    }
    #blockquote1 {
        padding-bottom: 1vw;
    }

    #blockquote4 {
        padding-bottom: 0;
    }

    #blockquote5{
        padding-bottom: 0;
    }

    #blockquote6{
        padding-bottom: 0;
    }
    .nav-link{
        font-size: 2vw;
        padding-left: 10px;
        padding-right: 10px;
    }
    #content-sec3 .title {
        margin-top:15vw;
        /* margin-right:23vw; */
        font-family: 'Sedgwick Ave', cursive;
        font-size: 3vw;
        color: aliceblue;
    }

    #content-sec3 .title-sub-line {
        margin-top:3vw;
        margin-bottom: 3vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 2.5vw;
        color: aliceblue;
        text-align: left;
    }
    .mb-0{
        font-size: 1.5vw;
    }
    .d-block{
        height: 27vw;
    }
    footer{
        font-size: 2vw;
    }
    .btn{
        font-size: 1.4vw;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .image1{
        width: 100%;
        height: auto;
        float: right;
        padding-left: 0;
    }

    .image2{
        width: 100%;
        height: auto;
        float: left;
        padding-left: 0;
    }
    .text-left{
        font-size: 1.5vw;
    }

    .d-md-block{
        line-height: 1rem;
        text-align: center;
        padding-top: 0;
        padding-bottom: 3vw;
    }


    #blockquote4 {
        padding-bottom: 1vw;
    }

    #blockquote5{
        padding-bottom: 2vw;
    }

    #blockquote6{
        padding-bottom: 1vw;
    }
    .nav-link{
        font-size: 2vw;
        padding-left: 12px;
        padding-right: 12px;
    }
    #content-sec3 .title {
        margin-top:28vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 3vw;
        color: aliceblue;
    }

    #content-sec3 .title-sub-line {
        margin-top:3vw;
        margin-bottom: 3vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 2vw;
        color: aliceblue;
        text-align: left;
    }
    .mb-0{
        font-size: 1.5vw;
    }
    .d-block{
        height: 23vw;
    }
    footer{
        font-size: 1.5vw;
    }
    .btn{
        font-size: 1.4vw;
    }
}


/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .image1{
        width: 100%;
        height: auto;
        float: right;
        padding-left: 0;
    }

    .image2{
        width: 100%;
        height: auto;
        float: left;
        padding-left: 0;
    }
    .text-left{
        font-size: 1.5vw;
    }
    .d-md-block{
        line-height: 2rem;
        text-align: center;
        padding-top: 0;
        padding-bottom: 3vw;
    }


    #blockquote4 {
        padding-bottom: 0;
    }
    #blockquote5{
        padding-bottom: 2vw;
    }
    #blockquote6{
        padding-bottom: 0;
    }
    .nav-link{
        font-size: 2vw;
        padding-left: 17px;
        padding-right: 17px;
    }
    #content-sec3 .title {
        margin-top:28vw;
        /* margin-right:23vw; */
        font-family: 'Sedgwick Ave', cursive;
        font-size: 3vw;
        color: aliceblue;
    }

    #content-sec3 .title-sub-line {
        margin-top:3vw;
        margin-bottom: 3vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 2vw;
        color: aliceblue;
        text-align: left;
    }
    .mb-0{
        font-size: 1.3vw;
    }
    .d-block{
        height: 23vw;
    }
    footer{
        font-size: 1.5vw;
    }
    .btn{
        font-size: 1.5vw;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .image1{
        width: 100%;
        height: auto;
        float: right;
        padding-left: 0;
    }
    .text-left{
        font-size: 1.5vw;
    }

    .image2{
        width: 100%;
        height: auto;
        float: left;
        padding-left: 0;
    }
    .d-md-block{
        line-height: 2rem;
        text-align: center;
        padding-top: 0;
        padding-bottom: 5vw;
    }
    #blockquote1 {
        padding-bottom: 5vw;
    }
    #blockquote4 {
        padding-bottom: 2vw;
    }
    #blockquote5{
        padding-bottom: 2vw;
    }
    #blockquote6{
        padding-bottom: 2vw;
    }
    .nav-link{
        font-size: 2vw;
        padding-left: 20px;
        padding-right: 20px;
    }
    #content-sec3 .title {
        margin-top:28vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 3vw;
        color: aliceblue;
    }

    #content-sec3 .title-sub-line {
        margin-top:3vw;
        margin-bottom: 3vw;
        font-family: 'Sedgwick Ave', cursive;
        font-size: 2vw;
        color: aliceblue;
        text-align: left;
    }
    .mb-0{
        font-size: 1.5vw;
    }
    .d-block{
        height: 23vw;
    }
    footer{
        font-size: 1vw;
    }
    .btn{
        font-size: 1vw;
    }
}