.title {
    -fx-font-family: "Poiret One";
    -fx-font-size: 2em;
    -fx-text-fill: #333;

    -fx-padding: 0 0 30 0;
}

.login-button {
    -jfx-button-type: RAISED;

    -fx-background-color: deepskyblue;
    -fx-text-fill: aliceblue;
}

.container {
    -fx-alignment: bottom-center;
}